/*Contenido CSS de las comunidades*/

            table{
               border: hidden; 
               width: 100%;
               border-collapse: collapse;
            }
            td{
                border: hidden;
                font-weight: bold;
                font-size: 25px;
                height: 50;
                border-collapse: collapse;
            }
            td.menu{
                background-color: #C6FFEB;
            }
            td.fondo:hover{
                background-color: #238260;
            }
            h1{
                text-align: center;
                color:white;
                font-size: 60px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                margin: 10px;
            }
            a:hover{
                color: white;
            }
            table,table{
                color: black;
                font-weight: bold;
                width: 100%;
                border: hidden; 
                border-collapse: collapse;
            }
            body{  
               margin: 0;
               padding: 0;
            }
            #Titulo2{
                color:black;
                font-size: 23px;
                font-weight: bold;
                margin: 5px;
            }
            #texto3{
                color:black;
                font-size: 20px;
                font-weight: bold;
                margin: 10px;
            }
            #texto4{
                color:rgb(21, 113, 119);
                font-size: 15px;
                font-weight: bold;
                margin: 5px;              
                text-align: left;
                font-family: "Ginebra";
            }
            #texto5{
                color:rgb(21, 113, 119);
                font-size: 20px;
                font-weight: bold;
            }
            #texto6{
                color:black;
                font-size: 16px;
                font-weight: bold;
                margin: 20px;
            }
            #boton{
                color:black;
                font-size: 15px;
                font-weight: bold;
            }
            #img-grande{
                width: 1080px; 
                height:600px;
                margin: 15px;
            }
            #img-pequena{
                width: 480px; 
                height:200px;
                margin: 5;
            }
            iframe{
                margin: 5px;
            }
            audio{
                margin: 5px;
            }
            /*
            Color normal para menu de la izquierda: C6FFEB
            Color cuando esta seleccionado: 238260 y style="color: white;" para el texto 
            */
            
                
            
       